span#semConta{
    color: #70707d !important;
}

.linkCadastro{
    color: red !important;
}

.linkCadastro:hover{
    text-decoration: none;
    color: #db1616 !important;
}

.area-box{
    background-color: #f0f0f0;
    padding: 50px;
}