.navbar{
    height: 100px;
}

span{
    color:#C17139 !important;
}

li.nav-item{
    line-height: 100px;
}

.link{
    text-decoration: none !important;
    color: #707070 !important;
}

.link:hover{
    color: black !important;
}

@media screen and (max-width: 768px){
    li.nav-item{
        line-height: inherit;
        position: relative;
        z-index: 1;
        background-color: white;
        padding-left: 10px;
    }

    .navbar-toggler-icon{
        background: black !important;
        border-radius: 50%;
    }
}